@media only screen and (max-width: 620px){
    body {
        background-image: url(../images/background-mobile-restaurant-lg.jpg);  
    }
    
    .container {
        width: 90%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.7);
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
    }
    header img{
        width: 20%;
        margin-left: 10%;
        margin-top: -25%;

    }
    nav {
        background-color: #e74707;
        height: 100%;
        width: 250px;
        top: 0;
        left: 0;
        border-right: 2px solid;
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.3s;
    }

    nav a {
        color: white;
        padding: 20px 0px 10px 20px;
    }

    nav a:hover {
        background-color: rgba(0, 0, 0, 0.727);
        color: #e74707;
    }
    input[type="checkbox"] {
        display: none;
    }

    label .one {
        height: 8px;
        width: 40px;
        position: fixed;
        top: 20px;
        right: 50px;
        border: 2px solid tomato;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    label .two {
        height: 8px;
        width: 40px;
        position: fixed;
        top: 30px;
        right: 50px;
        border: 2px solid tomato;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    label .three {
        height: 8px;
        width: 40px;
        position: fixed;
        top: 40px;
        right: 50px;
        border: 2px solid tomato;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    #burger-menu:checked ~ nav {
        transform: scale(1);
    }
    
    #burger-menu:checked ~ label > .one {
        transform: rotateZ(45deg) scaleX(0.5) translateX(15px);
    }
    #burger-menu:checked ~ label > .two {
        transform: translate(-7px, 0);
        background-color: #000;
        z-index: 1;
    }
    #burger-menu:checked ~ label > .three {
        transform: rotateZ(-45deg) scaleX(0.5) translate(12px, 0);
    }

    main {
        padding-top: 100px;
        height: 20rem;
    }
    p {
        padding: 0 5%;
    }

    h1 {
        text-align: center;
        font-size: 250%;
    }

    section, iframe {
        display: block;
        width: 100%;
        max-height: 15rem;
    }

    footer p {
        padding: 50px 50px 40px 50px;
    }

    /* menu */
    .menu {
        justify-content: center;
        height: 1200%;
    }

    .dish {
        margin-bottom: 20px;
        display: block;
    }
    /* order online */
    .order-online {
        margin-top: 50%;
        margin-bottom: 50%;
    }
    .wrapper {
        flex-direction: column;
    }
    input[type=datetime-local], input[type=number] {
        width: 100%;
        margin-top: 10px;
    }

    input[type="submit"] {
        padding: 10px 25px;
        margin-bottom: 20px;
    }
}

