* {
    box-sizing: border-box;
}
html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #2f3035;
    background-image: url(../images/background-adare-restaurant.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.338);
    text-align: center;
    padding: 12px 0;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav a {
    font-size: 12px;
    padding: 0 10px;
    text-decoration: none;
}
main {
    padding-top: 80px;
    height: 400px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
}
h1 {
    font-size: 86px;
    width: 100%;
}
p {
    padding: 0 25%;
}
section {
    margin: 20px 0;
}

footer {
    height: 100px;
}

footer p {
    font-size: 10px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.774);
    padding: 50px;
}

/* Styles: Menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 1000px;
}

.menu .dish {
    width: 300px;
    height: 170px;
    background-color: #ff9101;   
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    transition: all .3s ease-out;
}
.menu .dish:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6);
}
.food-name {
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    transition: all .3s ease-out;
}
.menu .dish:hover .food-name {
    visibility: visible;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.source {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.photo1 {
    background-image: url(../images/1.jpeg);
}
.photo2 {
    background-image: url(../images/2.jpeg);
}
.photo3 {
    background-image: url(../images/3.jpeg);
}
.photo4 {
    background-image: url(../images/4.jpeg);
}
.photo5 {
    background-image: url(../images/5.jpeg);
}
.photo6 {
    background-image: url(../images/6.jpeg);
}
.photo7 {
    background-image: url(../images/7.jpeg);
}
.photo8 {
    background-image: url(../images/8.jpeg);
}
.photo9 {
    background-image: url(../images/9.jpeg);
}
.photo10 {
    background-image: url(../images/10.jpeg);
}
.photo11 {
    background-image: url(../images/11.jpeg);
}
.photo12 {
    background-image: url(../images/12.jpeg);
}

/* Order Online Page */

script {
    margin: 0 auto;
}

.order-online {
    margin-bottom: 250px;
}
